In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
# linear Regression

In [4]:
import statsmodels.api as sm

## Linear Regression

$ Y = \beta_0 + \beta_1 . X $

## Polinomial Regression

$ Y = \beta_0 + \beta_1 . X_1 + \beta_2 . X_2 + ... + \beta_p . X_p + \epsilon $

### Estimators & Prediction for multiple linear regression

$ \hat{y} = \hat{\beta}_0 + \hat{\beta}_1 . x_1 + \hat{\beta}_2 . x_2 + ... + \hat{\beta}_p . x_p $

$ RSS = \sum\limits_{i=1}^n (y_i - \hat{y}_i)^2 $

$ = \sum\limits_{i=1}^n (y_i - \hat{\beta}_0 - \hat{\beta}_1 . x_{i1} - \hat{\beta}_2 . x_{i2} - ... - \hat{\beta}_p . x_{ip}) $

### Hipothesis Test

$ H_0:\beta_0=\beta_2=...\beta_p=0 $

$ H_1 at least \beta_j \neq 0 $

## Statistics Using

$ F = \frac{(TSS - RSS)/p}{RSS/(n - p - 1)} $

$ TTS = \sum\limits_{i=1}^n (y_i - \bar{y})^2 $

$ RSS = \sum\limits_{i=1}^n (y_i - \hat{y}_i)^2 $

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
bikes = pd.read_csv("Documents/Github/linear_regresion/bikes.csv", index_col='datetime', parse_dates=True)
bikes.shape

(10886, 11)

In [5]:
bikes.sample(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2012-01-12 15:00:00,1,0,1,1,18.04,21.970,72,8.9981,32,156,188
2012-03-02 03:00:00,1,0,1,1,13.12,15.910,57,12.9980,0,3,3
2012-09-16 05:00:00,3,0,0,1,20.50,24.240,72,0.0000,3,10,13
2011-10-15 07:00:00,4,0,0,1,16.40,20.455,76,7.0015,17,40,57
2012-08-12 04:00:00,3,0,0,1,26.24,30.305,69,6.0032,2,8,10
2012-10-14 11:00:00,4,0,0,1,22.96,26.515,52,19.9995,156,338,494
2011-08-02 02:00:00,3,0,1,1,27.88,31.820,69,0.0000,2,6,8
2011-04-14 19:00:00,2,0,1,1,22.14,25.760,32,0.0000,37,222,259
2011-05-07 05:00:00,2,0,0,1,18.86,22.725,59,8.9981,4,3,7
2011-12-12 00:00:00,4,0,1,1,8.20,11.365,69,6.0032,4,16,20

In [6]:
bikes.rename(columns={'count':'total'},inplace=True)

In [7]:
bikes.sample(4)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,total
datetime,,,,,,,,,,,
2011-11-06 13:00:00,4,0,0,1,18.86,22.725,51,11.0014,105,209,314
2012-02-11 00:00:00,1,0,0,2,12.30,15.150,70,8.9981,3,50,53
2012-05-16 04:00:00,2,0,1,1,22.14,25.760,94,8.9981,1,3,4
2012-12-17 14:00:00,4,0,1,2,16.40,20.455,87,6.0032,12,169,181

In [8]:
features_cols=['temp']
X=bikes[features_cols]
y=bikes['total']

In [10]:
from sklearn.linear_model import LinearRegression

In [12]:
linreg=LinearRegression()

In [13]:
linreg.fit(X,y)

LinearRegression()

In [14]:
print(linreg.intercept_)
print(linreg.coef_)

6.046212959616611
[9.17054048]

In [16]:
temp=25
linreg.intercept_+linreg.coef_*temp

array([235.309725])

In [17]:
test_sklearn=np.array(temp).reshape(-1,1)
linreg.predict(test_sklearn)

C:\Users\Work\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([235.309725])