In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
# linear Regression

In [4]:
import statsmodels.api as sm

## Linear Regression

$$ Y = \beta_0 + \beta_1 . X

## Polinomial Regression

$$ Y = \beta_0 + \beta_1 . X_1 + \beta_2 . X_2 + ... + \beta_p . X_p + \epsilon

### Estimators & Prediction for multiple linear regression

$$ \^y = \^\beta_0 + \^\beta_1 . x_1 + \^\beta_2 . x_2 + ... + \^\beta_p . x_p

$$ RSS = \sum\limits_{i=1}^n (y_i - \^y_i)^2

$$ = \sum\limits_{i=1}^n (y_i - \^\beta_0 - \^\beta_1 . x_{i1} - \^\beta_2 . x_{i2} - ... - \^\beta_p . x_{ip})

### Hipothesis Test

$$ H_0:\beta_0=\beta_2=...\beta_p=0

$$ H_1 at least \beta_j \neq 0

## Statistics Using

$$ F = \frac{(TSS - RSS)/p}{RSS/(n - p - 1)}

$ TTS = \sum\limits_{i=1}^n (y_i - \bar{y})^2 $

$ RSS = \sum\limits_{i=1}^n (y_i - \^y_i)^2 $

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
bikes = pd.read_csv("Documents/Github/linear_regresion/bikes.csv", index_col='datetime', parse_dates=True)
bikes.shape

(10886, 11)

In [5]:
bikes.sample(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2012-01-12 15:00:00,1,0,1,1,18.04,21.970,72,8.9981,32,156,188
2012-03-02 03:00:00,1,0,1,1,13.12,15.910,57,12.9980,0,3,3
2012-09-16 05:00:00,3,0,0,1,20.50,24.240,72,0.0000,3,10,13
2011-10-15 07:00:00,4,0,0,1,16.40,20.455,76,7.0015,17,40,57
2012-08-12 04:00:00,3,0,0,1,26.24,30.305,69,6.0032,2,8,10
2012-10-14 11:00:00,4,0,0,1,22.96,26.515,52,19.9995,156,338,494
2011-08-02 02:00:00,3,0,1,1,27.88,31.820,69,0.0000,2,6,8
2011-04-14 19:00:00,2,0,1,1,22.14,25.760,32,0.0000,37,222,259
2011-05-07 05:00:00,2,0,0,1,18.86,22.725,59,8.9981,4,3,7
2011-12-12 00:00:00,4,0,1,1,8.20,11.365,69,6.0032,4,16,20